<ul class="list-group">
    <li *ngFor="let task of tasks"
        class="list-group-item">
        <div class="task-checkbox">
            <input type="checkbox" class="list-child mr-3"
                (change)="onTaskChanged($event, task)"
                [checked]="task.completed">
            <span class="name" [ngClass]="{'name completed':task.completed}">{{ task.name }}</span>
            <span class="badge {{getDueDateLabel(task)}} float-right">{{ task.dueDate }}</span>
        </div>
    </li>
</ul>
